<a href="https://colab.research.google.com/github/Vatsala-18/MachineLearning/blob/main/6_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/Underweight-knn.csv')
df

    Weight(x2)  Height(y2)        Class
0           51         167  Underweight
1           62         182       Normal
2           69         176       Normal
3           64         173       Normal
4           65         172       Normal
5           56         174  Underweight
6           58         169       Normal
7           57         173       Normal
8           55         170       Normal
9           53         171  Underweight
10          60         184  Underweight

In [5]:
df.shape

(11, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Weight(x2)  11 non-null     int64
 1   Height(y2)  11 non-null     int64
 2   Class       11 non-null     object
dtypes: int64(2), object(1)
memory usage: 392.0+ bytes

In [8]:
df.head()

   Weight(x2)  Height(y2)        Class
0          51         167  Underweight
1          62         182       Normal
2          69         176       Normal
3          64         173       Normal
4          65         172       Normal

In [9]:
#splitting from dataframe
x = df.iloc[:,[0,1]].values
y = df.iloc[:,2].values

In [10]:
x

array([[ 51, 167],
       [ 62, 182],
       [ 69, 176],
       [ 64, 173],
       [ 65, 172],
       [ 56, 174],
       [ 58, 169],
       [ 57, 173],
       [ 55, 170],
       [ 53, 171],
       [ 60, 184]])

In [11]:
y

array(['Underweight', 'Normal', 'Normal', 'Normal', 'Normal',
       'Underweight', 'Normal', 'Normal', 'Normal', 'Underweight',
       'Underweight'], dtype=object)

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
model = KNeighborsClassifier(n_neighbors=3, metric='euclidean')

In [14]:
model.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [15]:
y_pred = model.predict([[56,174]])
y_pred

array(['Normal'], dtype=object)

In [17]:
y_pred = model.predict([[55,166]])
y_pred

array(['Normal'], dtype=object)

In [19]:
y_pred = model.predict([[53,171]])
y_pred

array(['Underweight'], dtype=object)

In [18]:
model.score(x,y)

0.9090909090909091